body{
    font-family: 'Noto Sans JP', sans-serif;
    
}
/* utility */
.contents__wrapper{
    width: 61.3%;
    height: 100%;
    margin: 0 auto;
}
h2{
    font: normal normal bold 24px Noto Sans JP;
    letter-spacing: 0px;
    color: #444444;
}
/* header */
.header{
    width: 100%;
    height:130px;
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
}
.header__logo{
    margin-top: 29px;
    margin-left: 20px;
}
.nav{
    margin-top: 33px;
}
.nav__date{
    font: normal normal normal 14px Noto Sans JP;
    color: #444444;
}
.phone__number__box{
    display: flex;
    height: 35px;
    margin-top: 7px;
    justify-content: flex-end;
}
.phone__number{
    font: normal normal bold 24px  Noto Sans JP;
    color: #21A937;
}
.phone__number__icon{
    width: 25px;
    height: 25px;
    margin-top: 8px;
    background-image: url('img/受話器の線画アイコン.svg');
}
/* fv */
.fv{
    height: 947px;
    position: relative;
}
.fv h1{
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-size: 28px;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 18px;
}
.h1__box{
    width: 102px;
    height: 565px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin-right: 80px;
}
.h1__boxes{
    display: flex;
}
.big__bg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.heading{
    width: 284px;
    height: 565px;
    position: absolute;
    left: 10.6%;
    top: 14%;
    display: flex;
}
.green{
    color: #21A937;
}
/* about */
.about{
    width: 100% ;
    height: 664px;
}
.about__wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 162px;
}
.about__box{
    width: 42%;
    margin-left: 31px;
}
.about__heading{
    margin-top: 31px;
    margin-bottom: 37px;
}
.about__heading__01{
    margin-bottom: 32px;
}
.about__caption{
    width: 415px;
    height: 138px;
    font: normal normal normal 16px/38px      Noto Sans JP;
    letter-spacing: 0px;
    color: #444444;
    margin-right: 44px;
}

.about__img{
    width: 58%;
    height: 60%;
}
/* therapy */
.therapy{
    width: 100%;
    height: 913px;
    background: #F5FCF8 0% 0% no-repeat padding-box;
}

.therapy__heading{
    text-align: center;
    padding-top: 78px;
}
.therapy__caption{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 34px;
}
.therapy__contents{
    display: flex;
    justify-content: space-between;
    margin-bottom: 81px;
}
.therapy__content{
    width: 32%;
    height: 591px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #C9C9C9;
    border-radius: 10px;
    position: relative;
}
.therapy__content__heading{
    font: normal normal bold 24px Noto Sans JP;
    color: #444444;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 45px;
}
.therapy__content__list{
    width: 324px;
    height: 214px;
    margin: 0 auto;
    font: normal normal bold 16px/38px Noto Sans JP;
    letter-spacing: 0px;
    color: #444444;
}
.therapy__content__icon{
    width: 187px;
    height: 187px;
    position: absolute;
    top: 404px;
    left: 97px;
}
/* information */
.information{
    width: 100%;
    height: 689px;
    background: #F5FCF8 0% 0% no-repeat padding-box;
}
.information__heading{
    text-align: center;
    padding-top: 81px;
    padding-bottom: 70px;
}
.information__box{
    width: 100%;
    height: 390px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 30px;
    position: relative;
}
.information__contents{
    width: 88%;
    height: 100%;
    position: absolute;
    top: 19.5px;
    left: 66px;
}
.information__content{
    height: 63px;
    border-bottom: 2px solid #E7E7E7;
    display: flex;
}
.information__content__date{
    font: normal normal bold 16px/38px Noto Sans JP;
    color: #21A937;
    margin: auto 0;
}
.information__content__icon{
    width: 80px;
    height: 25px;
    align-items: center;
    background: #444444 0% 0% no-repeat padding-box;
    font: normal normal bold 12px/24px   Noto Sans JP;
    color: #FFFFFF;
    margin: auto 30px;
    text-align: center;
}
.information__content__caption{
    margin: auto 0;
    font: normal normal bold 16px/38px Noto Sans JP;
    letter-spacing: 0px;
    color: #444444;
    width: 100%;

}
.show__all{
    position: absolute;
    top: 320px;
    left: 970px;
    font: normal normal bold 16px Noto Sans JP;
    color: #444444;
    width: 100%;
}
/* access */
.access{
    width: 100%;
    height: 799px;
}
.access__wrapper{
    margin-top: 196px;
    display: flex;
    justify-content: space-between;
}
.access__img{
    width: 608px;
    height: 440px;
}
.access__content{
    width: 533px;
    height: 392px;
}
.access__content small{
    margin-top: 21.5px;
    text-align: end;
    display: block;
}
.access__icon{
    margin-bottom: 25px;
}
.phone__number__box__left{
    text-align: left;
    display: flex;
    height: 35px;
    margin-top: 25px;
    margin-bottom: 28.5px;
}
.openDay__box{
    width: 533px;
    height: 182px;
    border-top: 2px solid #E7E7E7;
    border-bottom:2px solid #E7E7E7 ;
}
.openDay__01{
    display: flex;
    margin-bottom: 20px;
}
.openDay__heading__01{
    width: 80px;
    height: 95px;
    border-right: 2px solid #E7E7E7;
}
.openDay__02{
    display: flex;
}
.openDay__heading__02{
    width: 80px;
    height: 29px;
    border-right: 2px solid #E7E7E7;
}
.openDay__box__01{

}
.openDay__time{
    display: flex;
}
